### Slicing operation

In [2]:
import pandas as pd

XYZ_web = {"Day" : [1,2,3,4,5,6], "Visitors": [1000,700,6000,1000,400,350], "Bounce_Rate":[20,20,23,15,10,34]}

df = pd.DataFrame(XYZ_web)
print(df)

   Day  Visitors  Bounce_Rate
0    1      1000           20
1    2       700           20
2    3      6000           23
3    4      1000           15
4    5       400           10
5    6       350           34

In [3]:
df.head(2)                                             #head is used to view the top elements

   Day  Visitors  Bounce_Rate
0    1      1000           20
1    2       700           20

In [4]:
df.tail(3)                                            #tail is used to view last bit of elements

   Day  Visitors  Bounce_Rate
3    4      1000           15
4    5       400           10
5    6       350           34

### Merging

In [11]:
df1 = pd.DataFrame({"HPI":[80,90,70,60],"Int_rate":[2,1,2,3],"IND_GDP":[50,45,45,67]},index = [2001,2002,2003,2004])
df2 = pd.DataFrame({"HPI":[80,90,70,60],"Int_rate":[2,1,2,3],"IND_GDP":[50,45,45,67]},index = [2005,2006,2007,2008])

#use on parameter in merge to make that column common

merge = pd.merge(df1,df2, on = "HPI")
print(merge)

   HPI  Int_rate_x  IND_GDP_x  Int_rate_y  IND_GDP_y
0   80           2         50           2         50
1   90           1         45           1         45
2   70           2         45           2         45
3   60           3         67           3         67

### Concatenation

In [17]:
concat = pd.concat([df1,df2])
print(concat)

      HPI  Int_rate  IND_GDP
2001   80         2       50
2002   90         1       45
2003   70         2       45
2004   60         3       67
2005   80         2       50
2006   90         1       45
2007   70         2       45
2008   60         3       67

### Joining

In [10]:
df3 = pd.DataFrame({"HPI":[80,90,70,60],"Int_rate":[2,1,2,3],"IND_GDP":[50,45,45,67]},index = [2001,2002,2003,2004])
df4 = pd.DataFrame({"DPI":[80,90,70,60],"DW_rate":[2,1,2,3],"IND_GDP2":[50,45,45,67]},index = [2001,2002,2003,2004])

join = df3.join(df4)
print(join)

      HPI  Int_rate  IND_GDP  DPI  DW_rate  IND_GDP2
2001   80         2       50   80        2        50
2002   90         1       45   90        1        45
2003   70         2       45   70        2        45
2004   60         3       67   60        3        67

### Changing index & Column

In [18]:
df5 = pd.DataFrame({"Day":[1,2,3,4],"Visitors":[200,100,230,300],"Bounce_Rate":[20,45,60,10]})
df5.set_index("Day", inplace=True)
print(df5)

#to select only particular column use .reindex(column = ['columns you want','columns you want'])

     Visitors  Bounce_Rate
Day
1         200           20
2         100           45
3         230           60
4         300           10

In [15]:
df5 = df5.rename(columns={"Visitors":"Users"})
print(df5)

     Users  Bounce_Rate
Day
1      200           20
2      100           45
3      230           60
4      300           10

### Data Munging (Convert one format into another)

pd.read.csv() ------> .to_html()